@font-face {
    font-family: montserrat;
    src: url('https://fonts.google.com/specimen/Montserrat');
}
*{  
    box-sizing: border-box;
}
.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid;
}

.div2 {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid;
}
body{
    background:#F2F0F0;
    font: normal 10pt Montserrat;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F20587;
    padding: 20px;
}

footer{
    color: #BEBEBE;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: small;
    padding: 20px;
}

input {
    height: 20px;
    border: none;
    outline: none;
    width: auto;
    border-radius: 20px;
    margin: 5px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    padding: 5px;
    text-align: right;
}

h4 {
    padding: 10px;
    color: #F20587;
}

.rosinha{
    background: #F20587;
    border-radius: 5px;
    padding: 0px;
    width: auto;
    margin: auto;
    color: #F2E205;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    color: #F2E205;
}

.links:hover {
    color: #F20587;
}

.text-align-center {
    text-align: center;
}

.botao {
    background-color: #F20587;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: medium;
}

.botao:hover {
    background-color: #F2E205;
}

.logoMimisco{
    box-align: auto;
}

.checkbox{
    size: 5px 5px
}

h1{
    margin: auto;
    align-items: top-center;
}

.navbar-table {
    margin-top: 10px;
    width: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}